<%- include("partial_header.ejs"); %>


  <div class="midcol">
    <div class="bloc">
      <p>What's the pet you want to remove from it's assignement ?</p> <br>
      <form id=petDeleteass action="/Admin/pet/delassfinish" method="post">
        Pet: <select name='pet_id'>
            <% for (var p of pets) { %>
                  <option value='<%= p.pet_id %>'
                    <%- p.pet_id ? "selected='selected'" : "" %> 
                    > <%= p.pet_name %> </option>
            <% } %>
          </select><br>
        <input type="submit" onclick='' value="Submit">
      </form>
      <button style="background-color: rgb(0,0,0); width: 20%; position: center;" onclick="history.back()">Go Back</button>

    </div>
  </div>


  <%- include("partial_footer.ejs"); %>
