<%- include("partial_header.ejs"); %>



  <h1>List of our animals</h1>
  
  <table class="table table-striped table-bordered table-hover">
      <tr>
          <td>ID</td>
          <td>Owner's ID</td>
          <td>Pet's Name</td>
          <td>Pet's Specie</td>
          <td>Pet's Diet</td>
          <td>Pet's shelter location</td>

      </tr>
      
  <% for (var c of pets) { %>
      <tr>
          <td><%= c.pet_id %></td>
          <td><%= c.pet_owner_id %></td>
          <td><%= c.pet_name %></td>
          <td><%= c.pet_specie %></td>
          <td><%= c.pet_age %></td>
          <td><%= c.pet_diet %></td>
          <td><%= c.shelter_location %></td>
      </tr>
  <% } %>
  </table>


  <%- include("partial_footer.ejs"); %>
