<%- include("partial_header.ejs"); %>



  <div class="midcol">
    <div class="bloc">
      <p>Here you can add an employee to the database!</p>
      <form id="staffCreate" action="/edit/staff/finishadd" method="post">
        Name: <input type="text" name="staff_name"><br><br>
        Email: <input type="text" name="staff_email"><br><br>
        Password: <input type="text" name="staff_password"> <br><br>
        Working hours : <select name="staff_working_hours" type="text">
          <option value="9h-18h">9h-18h</option>
          <option>7h-16h</option>
          <option>15h-22h</option>
          </select>
        <br><br>
        Task: <select type="text" name="staff_task"> 
          <option>Administration</option>
          <option value="Pets care">Pets care</option>
        </select>
          <br><br>
        Shelter:  <select name='staff_shelter'>
          <% for (var s of shelter) { %>
                <option value='<%= s.shelter_id %>'
                  <%- s.shelter_id ? "selected='selected'" : "" %> 
                  > <%= s.shelter_location %> </option>
          <% } %>
          </select>
        <br><br>
        <input type="submit" onclick=""FUNCTION CREATE STAFF"" value="Submit">
      </form>
      
    </div>
  
  </div>
  <%- include("partial_footer.ejs"); %>
