<%- include("partial_header2.ejs"); %>



  <div class="midcol">
    <div class="bloc">
      <p>Here you can change an employee's information.</p>
      <form id="staffUpdate" action="/Admin/staff/finishupdate" method="post">
        ID : <input type="text" name="staff_id"><br><br>
        Email: <input type="text" name="staff_email"><br><br>
        Password: <input type="text" name="staff_password"> <br><br>
        Working hours : <select name="staff_working_hours" type="text">
          <option>9h-18h</option>
          <option>7h-16h</option>
          <option>15h-22h</option>
          </select> <br><br>
        Task: <select type="text" name="staff_task"> 
          <option>Administration</option>
          <option>Pets care</option>
        </select>
          <br><br>
        Shelter : <select name='staff_shelter'>
          <% for (var s of shelter) { %>
                <option value='<%= s.shelter_id %>'
                  <%- s.shelter_id ? "selected='selected'" : "" %> 
                  > <%= s.shelter_location %> </option>
          <% } %>
          </select>
        <br><br>
        <input type="submit" onclick=""FUNCTION UPDATE STAFF"" value="Submit">
      </form>
      <button style="background-color: rgb(0,0,0); width: 20%; position: center;" onclick="history.back()">Go Back</button>
    </div>
  </div>
  <%- include("partial_footer.ejs"); %>
